



#btns{
    padding: 0;
    border: none;
    background: none;
    padding-left: 1%;
    font-size:1.5vw;
    transition: 200ms ease-in-out;
    color: rgba(0, 0, 0, 0.678);
}

#btns:hover{
  transform: scale(1.2);
  color: rgb(0, 0, 0);
}

#btns-center{
    text-align: center;
}

#svglogo{
    height: 10%;
    width: 10%;
    text-align: left;
    margin: 1%;
}

.container {
    position: relative;
    color: rgb(0, 0, 0);
    
  }

  
  /* Centered text */
  .Header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:7vw;
    color: rgb(0, 0, 0);
  }

  #line {
    background-color: rgb(112, 112, 112);
   width: 100%;
   
    border: 0.3vw solid rgb(112, 112, 112);
  
  }

  #center{
    margin: auto;
    width: 60%;
    /* border: 5px solid #f697ff; */
    padding: 10px;
  }

  #p1{ 
    font-size:1.5vw;
    font-family: 'Merriweather', serif;
    -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
  padding-bottom: 1vw;
  }

  h2{
    
      font-size:3vw;
    
  }

  /* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.typewriter h3 {
  text-align: center;
  overflow: hidden; 
  border-right: .15em solid orange; 
  color: black;
  white-space: nowrap; 
  font-family: 'Handlee', cursive;
  margin: 0 auto; 
  font-size: 3vw;
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 166, 0, 0); }
}

ul{
  list-style-type: none;
}


#SayingsSearched{
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.5vw;
  text-decoration: none;
}

.SayingsSearched > a{
  text-decoration: none;
  color: inherit;
}




#SearchContainer{
  position: absolute;
  left: 35vw;
  top: 10vw;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  transition: 300ms ease-in-out;
  z-index: 5;
}

#SearchContainer > ul{
  max-height: 0;
  max-width: 29.5vw;
  overflow: scroll;
  /* background-color: white;
  border: solid;
  border-color: rgba(0, 0, 0, 0.521);
  border-top: none; */
  font-size: 3vw;
}

#SearchContainer > ul > li{
 padding: 0.5vw;
 border-bottom: solid;
 border-color: rgba(0, 0, 0, 0.123);
}

#SearchContainer > ul > li > h6{
  margin: 0;
  padding: 0;
  font-size: 1.6vw;
}

#SearchContainer > ul > li > p{
  margin-top: 0.1vw;
  font-size: 1.5vw;
}

#SearchContainer:hover > ul{
  text-align: left;
  max-height: 40vh;
  max-width: 29.5vw;
  overflow: scroll;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgba(0, 0, 0, 0.521);
  border-top: none; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}




#SearchContainer > i{
  position: absolute;
  right: 0.5vw;
  top: 0.3vw;
  font-size: 0.8vw;
}

#SearchContainer:hover{
  box-shadow: 0.9vw 0.9vw 2vw rgba(0, 0, 0, 0.55);
  max-height: 40vh;
}

#SearchBar{
  width: 98.5%;
  margin: 0;
  padding: 0;
}

#Contact{
  border-top: solid;
  border-color: rgb(112, 112, 112);
  margin-top: 6vw;
  text-align: center;
  font-size: 8vw;
}

#Contact > a > i{
  padding-top: 6vw;
  text-decoration: none;
  margin-left: 3vw;
}

#Contact > a:nth-child(1){
  background: -webkit-linear-gradient(rgb(128, 0, 255), rgb(255, 0, 225));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Contact > a:nth-child(2){
  color: blue;
}

#Contact > a:nth-child(3){
  color: red;
}












@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    #btns{
      padding: 0;
      border: none;
      background: none;
      padding-left: 1%;
      font-size:1.5vw;
      transition: 200ms ease-in-out;
      color: rgba(0, 0, 0, 0.678);
  }
  
  #btns:hover{
    transform: scale(1.2);
    color: rgb(0, 0, 0);
  }
  
  #btns-center{
      text-align: center;
  }
  
  #svglogo{
      height: 10%;
      width: 10%;
      text-align: left;
      margin: 1%;
  }
  
  .container {
      position: relative;
      color: rgb(0, 0, 0);
      
    }
  
    
    /* Centered text */
    .Header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:7vw;
      color: rgb(0, 0, 0);
    }
  
    #line {
      background-color: rgb(112, 112, 112);
     width: 100%;
     
      border: 0.3vw solid rgb(112, 112, 112);
    
    }
  
    #center{
      margin: auto;
      width: 60%;
      padding: 10px;
    }
  
    #p1{ 
      font-size:1.5vw;
      font-family: 'Merriweather', serif;
      -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
    padding-bottom: 1vw;
    }
  
    h2{
      
        font-size:3vw;
      
    }
  
    /* hide scrollbar but allow scrolling */
  body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  .typewriter h3 {
    text-align: center;
    overflow: hidden; 
    border-right: .15em solid orange; 
    color: black;
    white-space: nowrap; 
    font-family: 'Handlee', cursive;
    margin: 0 auto; 
    font-size: 3vw;
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(255, 166, 0, 0); }
  }}










@media only screen 
  and (max-device-width: 375px) 
  and (max-device-height: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #btns{
      padding: 0;
      border: none;
      background: none;
      padding-left: 2%;
      padding-bottom: 2vw;
      font-size:4vw;
      
  }
  
  #btns-center{
      text-align: center;
      overflow: auto;
  white-space: nowrap; 
  }
  
  #svglogo{
      height: 10%;
      width: 10%;
      text-align: left;
      margin: 1%;
  }
  
  .container {
      position: relative;
      color: rgb(0, 0, 0);
      
    }
  
    
    /* Centered text */
    .Header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:7vw;
      color: rgb(0, 0, 0);
    }
  
    #line {
      background-color: rgb(112, 112, 112);
     width: 100%;
     
      border: 0.3vw solid rgb(112, 112, 112);
    
    }

    #center{
      margin: auto;
      width: 90%;
    }
  
    #p1{ 
      font-size:4vw;
      font-weight: 800;
      font-family: 'Merriweather', serif;
    }
  
    h2{
      
        font-size:5vw;
      
    }
  
    /* hide scrollbar but allow scrolling */
  body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  .typewriter h3 {
    text-align: center;
    overflow: hidden; 
    border-right: .15em solid orange; 
    color: black;
    white-space: nowrap; 
    font-family: 'Handlee', cursive;
    margin: 0 auto; 
    font-size: 6vw;
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  #Contact{
    border-top: solid;
    border-color: rgb(112, 112, 112);
    margin-top: 6vw;
    text-align: center;
    font-size: 23vw;
  }

}
